/*
 * Shadow
 ** $sd- 로 시작
*/
$sd-black: #0000002c;

/*
 * background-color
 ** $bg- 로 시작
*/

$bg-white: #ffffff;
$bg-Main-color: #071b50;
$bg-writeback: #fbfcff;
$bg-line: #e2e2e2;
$bg-blue: #1c32c5;
$bg-blue-100: #eff1fc;
$bg-light-bule: #465ae1;
$bg-blue-50: #f6f6fc;
$bg-gray-10: #f8f8f8;
$bg-gray-50: #f6f6f6;
$bg-gray-100: #ececec;
$bg-blue-150: #0e1f91;
$bg-white-100: #f8f8ff;
$bg-gray: #7d7d7d;
$bg-gray-700: #afafaf;
$bg-gray-10: #f6f6f641;
$bg-green-100: #2a7e22;
$bg-green-200: #1d6117;
$bg-yellow-100: #dfc11a;
$bg-yellow-200: #cfb001;

/*
 * font
 ** $ft- 로 시작
*/

$ft-white: #ffffff;
$ft-Main-color: #071b50;
$ft-gray: #7d7d7d;
$ft-darkgray: #545454;
$ft-blue: #1c32c5;
$ft-line: #e2e2e2;
$ft-darkblue: #0b1b4c;
$ft-blue-100: #0e1f91;
$ft-skyblue: #808de5;
$ft-darklightblue: #212f6e;

/*
 * border
 ** $bd- 로 시작
*/

$bd-white: #ffffff;
$bd-line: #e2e2e2;
$bd-blue: #1c32c5;
$bd-skyblue: #808de5;
$bd-gray: #7d7d7d;
$bd-darkblue: #0b1b4c;
$bd-blue-100: #0e1f91;
$bd-gray-700: #afafaf;
$bd-gray-900: #9b9b9b;
$bd-white-80: #f5f5f5;
$bd-white-100: #f8f8ff;
$bd-gray-50: #f6f6f6;


$tmt-100 :#e5593f;
$tmt-200 :#cc4f38;
$tmt-300 :#b24531;
$tmt-400 :#993b2a;
$tmt-500 :#7f3123;
$tmt-600 :#66271c;
$tmt-700 :#4c1d15;
$tmt-800 :#33130e;
$tmt-900 :#190907;
$tmt-black :#000000;

$gamong:#f95c49; 
$gamong-light:#fd764e; 
$gamong-dark:#ed5547 ;
$orange:#f7773a;

$gray-more-light:#f1f3f4;
$gray-light:#dadce0;
$gray-dark:#5f6368;